.RecommendProduct {
    margin: 70px 0;
}

.categories {
    width: 100%;

}

.categories>button {

    width: 100%;
    padding: 5px 50px;
    background-color: transparent;
    align-items: left;
    justify-content: left;
    align-content: left;
    align-self: left;
    /* background-color: transparent; */
}

.categories>button:hover {
    background-color: #000;
    color: #fff;
}

.categories>button.clicked:hover {
    background-color: #ff523b;
    color: #fff;
}