.RecommendProduct {
    margin: 70px 0;
}

.categories {
    width: 100%;

}

.categories>button {
    width: fit-content;
    padding: 5px 20px;
    height: 30px;
    margin: 20px 10px;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    align-content: center;
    align-self: center;
    border-radius: 30px;
    border: 1px solid #000;
    font-size: 15px;
    /* background-color: transparent; */
}

.categories>button:hover {
    background-color: #000;
    color: #fff;
}

.categories>button.clicked:hover {
    background-color: #ff523b;
    color: #fff;
}